@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

#wrap {
  overflow: hidden;
}
#wrap.fixed {
  position: fixed;
  width: 100%;
}

#header {
  position: fixed;
  z-index: 1000;
  z-index: 1000;
  width: 100vw;
  top: 0;
  left: 0;
}
#header .inner {
  max-width: 156rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}
#header .head_top {
  padding-top: 2rem;
  width: 100%;
}
#header .head_top .inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .head_top .head_top_log {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  position: relative;
}
#header .head_top .head_top_log::after {
  content: "";
  width: 1px;
  height: 1.6rem;
  background-color: #d5d7dd;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#header .head_top .head_top_log > li {
  margin-left: 3rem;
  position: relative;
}
#header .head_top .head_top_log > li > a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #161616;
  font-weight: 500;
}
#header .head_top .head_top_log > li > a > span {
  width: 2.6rem;
  height: 2.6rem;
  background-color: #dedfe9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
#header .head_top .head_top_log > li > a > span > i {
  font-size: 1.4rem;
}
#header .head_top .head_top_log > li > a > i {
  margin-left: 1rem;
}
#header .head_top .head_top_log > li > a.active i {
  transform: rotate(180deg);
}
#header .head_top .head_top_log > li .head_top_lang {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #2a4aac;
  color: #fff;
  z-index: 10000;
  display: none;
}
#header .head_top .head_top_log > li .head_top_lang > li > a {
  display: block;
  padding: 1rem 1rem;
  border-bottom: 1px solid #d5d7dd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
#header .head_top .head_top_log > li .head_top_lang > li > a i {
  margin-right: 0.3rem;
}
#header .head_top .head_top_log > li .head_top_lang > li > a:hover {
  opacity: 0.9;
}
#header .head_top .head_top_sns {
  display: flex;
  align-items: center;
}
#header .head_top .head_top_sns > li {
  margin-left: 3rem;
}
#header .head_top .head_top_sns > li > a {
  overflow: hidden;
  text-indent: -999999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .head_top .head_top_sns > li > a > i {
  opacity: 0.75;
}
#header .head_top .head_top_sns > li > a:hover i {
  opacity: 1;
}
#header .head_nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .head_nav h1 a {
  font-size: 2.8rem;
  font-weight: bold;
  color: #161616;
}
#header .head_nav .head_gnb {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 95rem;
  width: 100%;
}
#header .head_nav .head_gnb > li {
  width: 16.6666666667%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .head_nav .head_gnb > li > a {
  font-size: 2.1rem;
  font-weight: 600;
  color: #161616;
  padding-bottom: 2rem;
  padding: 1.5rem 1.5rem;
  position: relative;
  z-index: 1;
  display: block;
}
#header .head_nav .head_gnb > li > a::before {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  top: 0.6rem;
  background-color: #ee5176;
}
#header .head_nav .head_gnb > li > a::after {
  display: block;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #2a4aac;
  width: 100%;
}
#header .head_nav .head_gnb > li .head_gnbwrap {
  display: none;
  justify-content: center;
  position: absolute;
  z-index: -1;
  max-width: 153rem;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt {
  width: 29rem;
  height: auto;
  padding-left: 1rem;
  min-height: 35rem;
  color: #fff;
  position: relative;
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt strong {
  opacity: 0;
  display: block;
  font-size: 3.2rem;
  margin-top: 7.5rem;
  font-family: "Stunning";
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt strong::after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  background-color: #ffffff;
  display: block;
  margin: 3rem 0 2rem 0;
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt span {
  opacity: 0;
  font-size: 1.9rem;
  font-family: "Stunning";
  line-height: 1.5;
  font-weight: bold;
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt::before {
  background: #2E7DD5;
  background: linear-gradient(135deg, rgb(46, 125, 213) 0%, rgb(42, 74, 172) 100%);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-top: 1px solid #d5d7dd;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 100%;
  border-radius: 0 0 15rem 0;
  max-height: 0;
}
#header .head_nav .head_gnb > li .head_gnbwrap .cmt::after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-top: 1px solid #d5d7dd;
  left: -50rem;
  z-index: -2;
  width: calc(100vw + 50rem);
  height: 100%;
  max-height: 0;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep {
  opacity: 0;
  width: calc(100% - 29rem);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
  padding: 2.5rem;
  border-top: 1px solid #d5d7dd;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li {
  padding: 0 1.5rem;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li:hover > a {
  color: #2a4aac;
  border-color: #2a4aac;
  box-shadow: 0.3rem 0 0.7rem rgba(180, 184, 214, 0.35);
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li:hover > a[target=_blank]::after {
  background-image: url(../images/common/ci_new_blue.png);
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > a {
  width: 26.7rem;
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d5d7dd;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #161616;
  margin-top: 1.5rem;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > a::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: inherit;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > a[target=_blank]::after {
  background: url(../images/common/ci_new.png) no-repeat center center/contain;
  width: 1.8rem;
  height: 1.8rem;
  content: "";
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul {
  padding: 2rem 1.5rem;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li {
  margin-bottom: 1rem;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #7d7d7d;
  margin-right: 1rem;
  display: block;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a:hover {
  color: #2a4aac;
  font-weight: 600;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a:hover::before {
  background-color: #2a4aac;
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a:hover[target=_blank]::after {
  background-image: url(../images/common/ci_new_blue.png);
}
#header .head_nav .head_gnb > li .head_gnbwrap .dep > li > ul li a[target=_blank]::after {
  background: url(../images/common/ci_new.png) no-repeat center center/contain;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.5rem;
  display: block;
  content: "";
}
#header .head_nav .head_gnb > li:hover > a::before, #header .head_nav .head_gnb > li:hover > a::after {
  content: "";
}
#header .head_nav .head_gnb > li:hover .head_gnbwrap {
  display: flex;
}
#header .head_nav .head_gnb > li:hover .head_gnbwrap .cmt strong,
#header .head_nav .head_gnb > li:hover .head_gnbwrap .cmt span {
  animation: gnb-nav-ani 0.45s 0.15s ease forwards;
}
#header .head_nav .head_gnb > li:hover .head_gnbwrap .cmt::after, #header .head_nav .head_gnb > li:hover .head_gnbwrap .cmt::before {
  animation: gnb-nav-ani 0.45s ease forwards;
}
#header .head_nav .head_gnb > li:hover .head_gnbwrap .dep {
  animation: gnb-nav-ani 0.45s 0.3s ease-in-out forwards;
}
#header .head_nav .head_addon {
  display: flex;
  align-items: center;
}
#header .head_nav .head_addon .head_nav_pop {
  margin-right: 2.4rem;
  width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d5d7dd;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
#header .head_nav .head_addon .head_nav_pop:hover > i {
  opacity: 1;
}
#header .head_nav .head_addon .head_nav_pop > i {
  margin-left: 1rem;
  font-size: 2.4rem;
  opacity: 0.75;
}
#header .head_nav .head_addon .head_nav_pop > span {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #dd496c;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: -1px;
  box-shadow: -1px 1px 0px #ffffff;
}
#header .head_nav .head_addon .head_nav_bar {
  display: flex;
  align-items: center;
}
#header .head_nav .head_addon .head_nav_log {
  padding: 0 3rem;
  display: none;
  align-items: center;
  position: relative;
}
#header .head_nav .head_addon .head_nav_log > li {
  margin-left: 3rem;
  position: relative;
}
#header .head_nav .head_addon .head_nav_log > li > a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #161616;
  font-weight: 500;
}
#header .head_nav .head_addon .head_nav_log > li > a > span {
  width: 3rem;
  height: 3rem;
  background-color: #dedfe9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
#header .head_nav .head_addon .head_nav_log > li > a > span > i {
  font-size: 1.4rem;
}
#header .head_nav .head_addon .head_nav_log > li > a > i {
  margin-left: 0.5rem;
}
#header .head_nav .head_addon .head_nav_log > li > a.active i {
  transform: rotate(180deg);
}
#header .head_nav .head_addon .head_nav_log > li .head_nav_lang {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #2a4aac;
  color: #fff;
  z-index: 10000;
  display: none;
}
#header .head_nav .head_addon .head_nav_log > li .head_nav_lang > li > a {
  display: block;
  padding: 1rem 1rem;
  border-bottom: 1px solid #d5d7dd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
#header .head_nav .head_addon .head_nav_log > li .head_nav_lang > li > a i {
  margin-right: 0.3rem;
}
#header .head_nav .head_addon .head_nav_log > li .head_nav_lang > li > a:hover {
  opacity: 0.9;
}
#header .gnb_bg {
  position: absolute;
  top: 14rem;
  left: 0;
  width: 100vw;
  height: 50rem;
  background-color: #f4f4f4;
}
#header .gnb_bg .gnb_bg_cmt {
  background-color: #2a4aac;
}
#header:hover {
  background-color: #fff;
  border-bottom: 1px solid #d5d7dd;
}
#header:hover .head_top,
#header:hover .head_nav {
  background-color: #fff;
}
#header.active {
  background-color: #fff;
}
#header.active .head_top,
#header.active .head_nav {
  background-color: #fff;
}
#header.scroll {
  border-bottom: 1px solid #d5d7dd;
  top: 4.6rem;
  animation: head-bg-ani 0.45s ease forwards;
}
#header.scroll .head_top {
  animation: head-bg-ani 0.45s ease forwards;
  position: fixed;
  top: 0;
}
#header.scroll.add {
  top: 0;
  transition: 0.45s ease;
}
#header.scroll.add .head_top {
  position: fixed;
  top: -4.6rem;
  transition: 0.45s ease;
}

#mbnav {
  position: fixed;
  right: -100%;
  transition: 0.65s ease;
  top: 0;
  width: calc(100vw - 6rem);
  height: 100vh;
  max-width: 70rem;
  z-index: 1002;
  border-radius: 10rem 0 0 5rem;
  background-color: #fff;
  border: 1px solid #d5d7dd;
}
#mbnav.active {
  right: 0;
}
#mbnav .mbnav_head {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 6rem 3rem 3rem 4.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #d5d7dd;
}
#mbnav .mbnav_head .mbnav_close {
  position: absolute;
  top: 50%;
  left: -3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2E7DD5;
  background: linear-gradient(135deg, rgb(46, 125, 213) 0%, rgb(42, 74, 172) 100%);
  box-shadow: 0.5rem 0 0.9rem rgba(64, 64, 64, 0.6);
}
#mbnav .mbnav_head .mbnav_close i {
  color: #fff;
  font-size: 2.6rem;
}
#mbnav .mbnav_head .cmt {
  width: 100%;
}
#mbnav .mbnav_head .cmt h1 {
  margin-bottom: 1.5rem;
  max-width: calc(100% - 15rem);
}
#mbnav .mbnav_head .cmt h1 a {
  font-size: 2.3rem;
  color: #161616;
  font-weight: bold;
  word-break: keep-all;
}
#mbnav .mbnav_head .cmt p {
  font-size: 1.7rem;
  line-height: 1.6;
}
#mbnav .mbnav_head .addon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 3rem;
  top: 6rem;
}
#mbnav .mbnav_head .addon li {
  margin-left: 1rem;
}
#mbnav .mbnav_head .addon li a {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
#mbnav .mbnav_head .addon li a .ci_user {
  width: 1.6rem;
  height: 2rem;
}
#mbnav .mbnav_head .addon li a .ci_world {
  width: 1.7rem;
  height: 1.7rem;
}
#mbnav .mbnav_head .addon li a .ci_bell {
  width: 1.6rem;
  height: 1.7rem;
}
#mbnav .mbnav_body {
  background-color: #fbfbfd;
}
#mbnav .mbnav_body .util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
#mbnav .mbnav_body .util li {
  width: calc(50% - 1rem);
}
#mbnav .mbnav_body .util li a {
  width: 100%;
  border-radius: 3rem;
  height: 4.5rem;
  border: 1px solid #d5d7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #fff;
  font-weight: 500;
}
#mbnav .mbnav_body .util li a i {
  background-position: bottom;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
}
#mbnav .mbnav_body .util li:last-child a {
  background-color: #6f6f6f;
  color: #fff;
}
#mbnav .mbnav_body .util li:last-child a i {
  height: 1.9rem;
}
#mbnav .mbnav_body .mbgnb {
  padding-left: 1.5rem;
  overflow-y: scroll;
  width: calc(100% + 1.5rem);
  transform: translateX(-1.5rem);
  max-height: calc(100vh - 27.5rem);
}
#mbnav .mbnav_body .mbgnb > li {
  border-bottom: 1px solid #d5d7dd;
}
#mbnav .mbnav_body .mbgnb > li:first-child {
  border-top: 1px solid #d5d7dd;
}
#mbnav .mbnav_body .mbgnb > li > a {
  font-size: 1.9rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-weight: 500;
}
#mbnav .mbnav_body .mbgnb > li > a::before {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  content: "";
  display: none;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
#mbnav .mbnav_body .mbgnb > li > a::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: #000;
}
#mbnav .mbnav_body .mbgnb > li .dep {
  padding: 3rem 4rem;
  display: none;
}
#mbnav .mbnav_body .mbgnb > li .dep > li a {
  padding: 0.7rem 0;
  font-size: 1.7rem;
  display: inline-flex;
  align-items: center;
}
#mbnav .mbnav_body .mbgnb > li .dep > li a::before {
  content: "-";
  margin-right: 0.5rem;
}
#mbnav .mbnav_body .mbgnb > li .dep > li.active a {
  font-weight: bold;
}
#mbnav .mbnav_body .mbgnb > li .dep > li.active a::before {
  color: #2a4aac;
}
#mbnav .mbnav_body .mbgnb > li.active > a {
  background-color: #2a4aac;
  width: calc(100% + 1.5rem);
  transform: translateX(-1.5rem);
  padding: 0.5rem 3rem 0.5rem 4rem;
  border-radius: 2rem 0 0 2rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0.3rem 0 0.7rem rgba(42, 75, 172, 0.35);
}
#mbnav .mbnav_body .mbgnb > li.active > a::before {
  display: block;
}
#mbnav .mbnav_body .mbgnb > li.active > a::after {
  color: #fff;
  transform: rotate(180deg);
}

#contents {
  font-size: 1.8rem;
}
#contents h3 {
  font-weight: 600;
  font-size: 3.8rem;
  color: #161616;
  text-align: center;
}
#contents .inner {
  max-width: 156rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}
#contents .contents_head {
  position: relative;
  background-color: #f2f8fe;
  height: 41rem;
  display: flex;
  align-items: center;
  padding-top: 8rem;
}
#contents .contents_head .inner {
  position: relative;
  z-index: 10;
}
#contents .contents_head::after, #contents .contents_head::before {
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
#contents .contents_head::before {
  background-color: #fff;
}
#contents .contents_head::after {
  background-color: #f2f8fe;
  border-radius: 0 0 0 15rem;
}
#contents .contents_head .contents_title_bg {
  background: url(../images/sub/sub_bg.jpg) no-repeat center center/contain;
  width: 100%;
  height: 27rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
#contents .contents_head .contents_title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1rem;
  color: #161616;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
#contents .contents_head .contents_title h2 {
  font-size: 6rem;
  font-weight: 300;
}
#contents .contents_head .contents_title h2 strong {
  font-weight: bold;
}
#contents .contents_head .contents_title span {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  font-weight: 500;
  color: #36373b;
}
#contents .contents_head .contents_title span::before {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background-color: #d5d7dd;
  margin-right: 1.5rem;
}
#contents .contents_head .contents_title p {
  font-size: 2.4rem;
  color: #777777;
  margin-top: 3rem;
  padding-left: 1rem;
  width: 100%;
}
#contents .contents_head .contents_nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -19.5rem;
  width: 100%;
  max-width: 153rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 101;
}
#contents .contents_head .contents_nav .home {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background: #2E7DD5;
  background: linear-gradient(135deg, rgb(46, 125, 213) 0%, rgb(42, 74, 172) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}
#contents .contents_head .contents_nav > ul {
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 0.7rem 0 1.6rem rgba(0, 16, 53, 0.1);
  max-width: 148.5rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}
#contents .contents_head .contents_nav > ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
#contents .contents_head .contents_nav > ul > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 2.5rem;
  background-color: #d5d7dd;
}
#contents .contents_head .contents_nav > ul > li > a {
  margin: 0 3rem;
  display: block;
  padding-right: 5rem;
  min-width: 25rem;
  height: 6.5rem;
  display: flex;
  font-weight: 500;
  align-items: center;
}
#contents .contents_head .contents_nav > ul > li > a::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: #000;
  position: absolute;
  right: 3rem;
}
#contents .contents_head .contents_nav > ul > li ul {
  padding-bottom: 1rem;
  display: none;
  position: absolute;
  width: 100%;
  min-width: 100%;
  min-height: 6rem;
  left: 0;
  top: -0.5rem;
  background: linear-gradient(to bottom, rgb(48, 80, 176), rgb(49, 143, 181));
  border-radius: 2.5rem;
  box-shadow: 2px 0 1.3rem rgba(21, 54, 81, 0.5);
  color: #ffffff;
  z-index: 999;
}
#contents .contents_head .contents_nav > ul > li ul > li {
  margin: 0 1.5rem;
}
#contents .contents_head .contents_nav > ul > li ul > li strong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.5rem;
  border-bottom: 1px solid #d5d7dd;
  cursor: pointer;
  margin-bottom: 1rem;
}
#contents .contents_head .contents_nav > ul > li ul > li strong::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: #fff;
  transform: rotate(180deg);
}
#contents .contents_head .contents_nav > ul > li ul > li a {
  padding: 1rem 1.5rem;
  display: block;
}
#contents .contents_head .contents_nav > ul > li ul > li a:hover {
  font-weight: bold;
}
#contents .contents_head .contents_nav .spin {
  width: 21rem;
  height: 21rem;
  position: absolute;
  z-index: -1;
  right: -8rem;
  bottom: -5rem;
  background: url(../images/sub/spin.png) no-repeat center/contain;
  animation: spin 20s linear infinite;
}
#contents .contents_body {
  position: relative;
  background-color: #fff;
  min-height: 70vh;
  padding: 11rem 0 15rem 0;
}
#contents .contents_body::after, #contents .contents_body::before {
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: 0;
  top: 0;
}
#contents .contents_body::before {
  background-color: #f2f8fe;
}
#contents .contents_body::after {
  background-color: #fff;
  border-radius: 0 15rem 0 0;
}
#contents .contents_body .cont_title {
  position: relative;
  margin-bottom: 12rem;
}
#contents .contents_body .cont_title .addon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 1rem;
  top: 0;
  z-index: 100;
}
#contents .contents_body .cont_title .addon li {
  margin-left: 1.2rem;
}
#contents .contents_body .cont_title .addon li a {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 0.7rem 0 1.6rem rgba(230, 229, 237, 0.6);
  border: 1px solid #d5d7dd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents .contents_body .cont_title .addon li a:focus, #contents .contents_body .cont_title .addon li a:hover, #contents .contents_body .cont_title .addon li a.active {
  background: linear-gradient(60deg, rgb(48, 80, 176) 0%, rgb(49, 143, 181) 100%);
}
#contents .contents_body .cont_title .addon li a:focus i, #contents .contents_body .cont_title .addon li a:hover i, #contents .contents_body .cont_title .addon li a.active i {
  background-position: bottom;
}
#contents .contents_body .cont_tep {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
}
#contents .contents_body .cont_tep .cont_tab_slt {
  width: 100%;
  display: none;
}
#contents .contents_body .cont_tep .cont_tab_slt strong {
  background-color: #2a4aac;
  padding: 0 2.5rem;
  width: 100%;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  height: 6.5rem;
  font-size: 2rem;
}
#contents .contents_body .cont_tep .cont_tab_slt strong::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: #fff;
}
#contents .contents_body .cont_tep .cont_tab_slt.active strong {
  border-radius: 3rem 3rem 0 0;
}
#contents .contents_body .cont_tep .cont_tab_list {
  display: inline-flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4rem;
  padding: 1.5rem 3rem;
}
#contents .contents_body .cont_tep .cont_tab_list li.active a {
  background-color: #2a4aac;
  color: #ffffff;
}
#contents .contents_body .cont_tep .cont_tab_list li a {
  padding: 0 3rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 500;
  transition: 0.25s;
}
#contents .contents_body .cont_tep .cont_tab_list li:focus a, #contents .contents_body .cont_tep .cont_tab_list li:hover a, #contents .contents_body .cont_tep .cont_tab_list li.active a {
  background-color: #2a4aac;
  color: #ffffff;
}
#contents .contents_body .cont_tep_container {
  display: none;
}
#contents .contents_body .cont_tep_container.active {
  display: block;
}
#contents .contents_body .cont_info {
  position: absolute;
  width: 100%;
  max-width: 153rem;
  bottom: 6rem;
  border: 1px solid #d5d7dd;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contents .contents_body .cont_info > div {
  display: flex;
}
#contents .contents_body .cont_info > div dl {
  margin: 0 4rem;
}
#contents .contents_body .cont_info > div strong {
  display: flex;
  align-items: center;
}
#contents .contents_body .cont_info > div strong i {
  margin-right: 0.5rem;
}
#contents .contents_body .cont_info dl {
  display: flex;
  align-items: center;
}
#contents .contents_body .cont_info dl dt {
  color: #252735;
}
#contents .contents_body .cont_info dl dd {
  color: #666666;
  display: flex;
  align-items: center;
}
#contents .contents_body .cont_info dl dd::before {
  content: "";
  display: block;
  width: 1px;
  height: 1.2rem;
  background-color: #d5d7dd;
  margin: 0 1.5rem;
}

#footer {
  border-top: 1px solid #d5d7dd;
  padding-top: 4rem;
  font-size: 1.8rem;
}
#footer .inner {
  max-width: 156rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}
#footer .inner .foot_site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 8.5rem;
}
#footer .inner .foot_site > li {
  width: calc(20% - 1.2rem);
  position: relative;
}
#footer .inner .foot_site > li > a {
  color: #1a1a1a;
  background-color: #f3f3f3;
  border-radius: 1rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  transition: 0.35s ease;
}
#footer .inner .foot_site > li > a::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 400;
  color: #000;
}
#footer .inner .foot_site > li > ul {
  position: absolute;
  background-color: #fff;
  border: 1px solid #2a4aac;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 1.5rem;
  display: none;
  z-index: 10;
}
#footer .inner .foot_site > li > ul li a {
  width: 100%;
  display: block;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
}
#footer .inner .foot_site > li > ul li a:hover {
  font-weight: bold;
}
#footer .inner .foot_site > li.active > a {
  background-color: #2a4aac;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
}
#footer .inner .foot_site > li.active > a::after {
  transform: rotate(180deg);
  color: #fff;
}
#footer .inner .foot_cont {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}
#footer .inner .foot_cont .foot_cont_info {
  max-width: 46rem;
  width: 100%;
}
#footer .inner .foot_cont .foot_cont_info strong {
  display: block;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
#footer .inner .foot_cont .foot_cont_info span {
  display: block;
  color: #333333;
  margin-bottom: 4rem;
}
#footer .inner .foot_cont .foot_cont_info dl {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#footer .inner .foot_cont .foot_cont_info dl dt {
  color: #1a1a1a;
  margin-right: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}
#footer .inner .foot_cont .foot_cont_info dl dd {
  color: #666666;
  word-break: keep-all;
}
#footer .inner .foot_cont .foot_cont_info > div {
  display: flex;
}
#footer .inner .foot_cont .foot_cont_info > div dl {
  width: auto;
  margin-right: 3rem;
}
#footer .inner .foot_cont .foot_cont_link li a {
  width: 30rem;
  height: 6rem;
  border-bottom: 1px solid #d5d7dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666666;
  position: relative;
}
#footer .inner .foot_cont .foot_cont_link li a::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-weight: 400;
  color: #000;
}
#footer .inner .foot_cont .foot_cont_link li a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2a4aac;
  max-width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer .inner .foot_cont .foot_cont_link li a:hover {
  color: #2a4aac;
}
#footer .inner .foot_cont .foot_cont_link li a:hover::after {
  color: #2a4aac;
}
#footer .inner .foot_cont .foot_cont_link li a:hover::before {
  max-width: 100%;
  transition: 0.45s all;
}
#footer .site_copy {
  background-color: #2a4aac;
  border-radius: 3rem 3rem 0 0;
  padding: 3rem 4rem 4rem 4rem;
  max-width: 161rem;
  width: 100%;
  color: #fff;
  margin: 7rem auto 0 auto;
  display: flex;
  align-items: flex-start;
}
#footer .site_copy i {
  color: #fff;
  margin-right: 1rem;
}
#footer .site_copy p {
  font-size: 1.5rem;
}
#footer .site_copy p span {
  display: block;
  margin-top: 0.5rem;
}

#floating {
  position: fixed;
  z-index: 9998;
  right: 4rem;
  bottom: 4rem;
  display: none;
  flex-flow: column;
  align-items: flex-end;
  opacity: 0;
  transition: 0.55s;
}
#floating > div {
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-end;
  color: #fff;
}
#floating > div ul {
  display: none;
  flex-flow: column;
  align-items: flex-end;
}
#floating > div ul li:nth-of-type(2) a {
  border-radius: 5rem;
  width: auto;
  font-size: 1.7rem;
  padding: 0 2rem;
  font-weight: bold;
}
#floating > div ul li:nth-of-type(2) a i {
  margin-left: 1rem;
}
#floating > div a {
  background-color: #1d1738;
  color: rgba(255, 255, 255, 0.85);
}
#floating > div a i {
  color: #fff;
  opacity: 0.85;
}
#floating > div a.flot_ctrl::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "+";
  font-weight: 300;
  color: #fff;
  font-size: 2.4rem;
}
#floating > div a.flot_ctrl.active::after {
  content: "\f068";
}
#floating > div a:hover {
  color: #fff;
}
#floating > div a:hover i {
  opacity: 1;
}
#floating a {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 5px rgba(66, 66, 66, 0.35);
  margin-bottom: 1rem;
  background-color: #fff;
}
#floating a i {
  font-size: 2.4rem;
}
#floating.show {
  opacity: 1;
}
#floating.disable {
  position: absolute;
  bottom: -4.5rem;
}

#layer {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
}
#layer.active {
  display: block;
}
#layer.m_active {
  display: block;
  z-index: 1001;
}

i[class*=ci_] {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
i.ci_caret {
  width: 1rem;
  height: 0.5rem;
  background-image: url(../images/common/ci_caret.png);
}
i.ci_caret.left {
  transform: rotate(90deg);
}
i.ci_caret.right {
  transform: rotate(-90deg);
}
i.ci_bars {
  width: 2.6rem;
  height: 2.4rem;
  background-image: url(../images/common/ci_bars.png);
}
i.ci_youtube {
  width: 2.1rem;
  height: 1.5rem;
  background-image: url(../images/common/ci_youtube.png);
}
i.ci_blog {
  width: 1.2rem;
  height: 1.7rem;
  background-image: url(../images/common/ci_blog.png);
}
i.ci_instar {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/common/ci_instar.png);
}
i.ci_google {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/common/ci_google.png);
}
i.ci_search {
  width: 2.2rem;
  height: 2.5rem;
  background-image: url(../images/common/ci_search.png);
}
i.ci_mode {
  width: 2.3rem;
  height: 2.3rem;
  background-image: url(../images/common/ci_mode.png);
}
i.ci_home {
  width: 2rem;
  height: 2.2rem;
  background-image: url(../images/common/ci_home.png);
}
i.ci_manager {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../images/common/ci_manager.png);
}
i.ci_chat {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../images/common/ci_chat.png);
}
i.ci_play {
  width: 1rem;
  height: 1.2rem;
  background-image: url(../images/common/ci_play.png);
}
i.ci_pause {
  width: 1rem;
  height: 1.2rem;
  background-image: url(../images/common/ci_pause.png);
}
i.ci_service {
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../images/common/ci_service.png);
  background-position: top;
  background-size: 100%;
}
i.ci_user {
  width: 1.3rem;
  height: 1.7rem;
  background-image: url(../images/common/ci_user.png);
  background-position: top;
  background-size: 100%;
}
i.ci_world {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/common/ci_world.png);
  background-position: top;
  background-size: 100%;
}
i.ci_bell {
  width: 2.1rem;
  height: 2.3rem;
  background-image: url(../images/common/ci_bell.png);
  background-position: top;
  background-size: 100%;
}
i.ci_share {
  width: 2rem;
  height: 2.1rem;
  background-image: url(../images/common/ci_share.png);
  background-position: top;
  background-size: 100%;
}
i.ci_print {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/common/ci_print.png);
  background-position: top;
  background-size: 100%;
}
i.ci_link {
  width: 2rem;
  height: 1.8rem;
  background-image: url(../images/common/ci_link.png);
  background-position: top;
  background-size: 100%;
}

@media (max-width: 1440px) {
  #header .head_nav h1 a {
    font-size: 2.6rem;
  }
  #header .head_nav .head_gnb {
    max-width: 65rem;
  }
  #header .head_nav .head_gnb > li > a {
    padding: 1.5rem 1rem;
  }
  #header .head_nav .head_gnb > li .head_gnbwrap .cmt {
    padding-left: 3rem;
  }
  #contents .contents_head .contents_nav {
    width: calc(100% - 3rem);
  }
  #contents .contents_head .contents_nav > ul > li > a {
    padding-left: 1.5rem;
  }
}
@media (max-width: 1024px) {
  #header.scroll {
    top: 0;
  }
  #header .inner {
    padding: 0 1rem;
  }
  #header .head_top {
    display: none;
  }
  #header .head_nav {
    padding: 2.5rem 2rem;
  }
  #header .head_nav .head_gnb {
    display: none;
  }
  #header .head_nav .head_gnb > li > a {
    padding: 1.5rem 1rem;
  }
  #header .head_nav .head_addon .head_nav_pop {
    display: none;
  }
  #header .head_nav .head_addon .head_nav_log {
    display: flex;
  }
  #footer .inner .foot_site > li {
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
  }
  #footer .inner .foot_cont .foot_cont_info {
    max-width: 50%;
    width: 100%;
  }
  #footer .inner .foot_cont .foot_cont_link {
    max-width: 50%;
    width: 100%;
  }
  #footer .inner .foot_cont .foot_cont_link li a {
    width: 100%;
  }
  #footer .inner .foot_site {
    margin-bottom: 3rem;
  }
  #contents .contents_head .contents_title {
    flex-flow: column;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  #contents .contents_head .contents_title h2 {
    font-size: 5rem;
  }
  #contents .contents_head .contents_title span {
    margin: 1rem 0 0 0;
    text-align: center;
    display: block;
    width: 100%;
  }
  #contents .contents_head .contents_title span::before {
    display: none;
  }
  #contents .contents_head .contents_title p {
    text-align: center;
  }
  #contents .contents_body::after, #contents .contents_body::before,
  #contents .contents_head::after, #contents .contents_head::before {
    display: none;
  }
  #contents .contents_body .cont_title .addon {
    z-index: 0;
  }
}
@media (max-width: 768px) {
  #footer .inner .foot_site {
    margin-bottom: 5rem;
  }
  #footer .inner .foot_cont .foot_cont_info {
    width: 32rem;
  }
  #footer .inner .foot_cont .foot_cont_info dl dt {
    width: 7rem;
    min-width: 7rem;
    margin-right: 0;
  }
  #footer .inner .foot_cont .foot_cont_link {
    width: calc(100% - 34rem);
  }
  #footer .inner .foot_cont .foot_cont_link li:first-child a {
    border-top: 1px solid #d5d7dd;
  }
  #footer .inner .foot_cont .foot_cont_info > div {
    display: block;
  }
  #footer .inner .foot_cont .foot_cont_info > div dl {
    width: 100%;
    margin-right: 0;
  }
  #floating {
    right: 2rem;
    bottom: 3rem;
  }
  #floating a {
    width: 5rem;
    height: 5rem;
  }
  #header .head_nav h1 a {
    font-size: 2.4rem;
  }
  #header .head_nav .head_addon .head_nav_log {
    padding: 0 2rem 0 0;
  }
  #header .head_nav .head_addon .head_nav_log > li {
    margin-left: 2rem;
  }
  #header .head_nav .head_addon .head_nav_log > li:first-child {
    margin-left: 0;
  }
  #header .inner {
    padding: 0;
  }
  #contents .contents_head .contents_nav {
    width: calc(100% - 2rem);
  }
  #contents .contents_body {
    padding-top: 5rem;
  }
  #contents .contents_head .contents_title h2 {
    font-size: 4.6rem;
  }
  #contents .contents_head .contents_title span {
    font-size: 2.6rem;
  }
  #contents .contents_head .contents_title p {
    font-size: 2rem;
  }
  #contents .contents_body .cont_title {
    flex-flow: column-reverse;
    display: flex;
  }
  #contents .contents_body .cont_title .addon {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
  #contents .contents_head .contents_nav .spin {
    width: 15rem;
    height: 15rem;
    right: -7rem;
    bottom: -1rem;
  }
  #contents .contents_head .contents_nav > ul > li > a {
    min-width: auto;
    margin: 0 2rem;
    padding-right: 3rem;
    padding-left: 0;
  }
  #contents .contents_head .contents_nav > ul > li:first-child > a {
    padding-left: 2rem;
  }
  #contents .contents_body .cont_tep .cont_tab_slt {
    display: block;
  }
  #contents .contents_body .cont_tep .cont_tab_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 7rem 1rem;
    flex-flow: column;
  }
  #contents .contents_body .cont_tep .cont_tab_list li {
    width: 100%;
  }
  #contents .contents_body .cont_tep .cont_tab_list li a {
    width: 100%;
    height: 5rem;
    border-radius: 0;
    color: #161616;
    padding: 0;
  }
  #contents .contents_body .cont_tep .cont_tab_list li a:hover {
    background-color: transparent;
    color: #161616;
  }
  #contents .contents_body .cont_tep .cont_tab_list li.active a {
    background-color: transparent;
    color: #2a4aac;
  }
  #contents h3 {
    font-size: 3rem;
  }
  #contents .contents_body .cont_title {
    margin-bottom: 6rem;
  }
  #contents .contents_body .cont_info {
    align-items: flex-end;
  }
  #contents .contents_body .cont_info div {
    flex-flow: row wrap;
  }
  #contents .contents_body .cont_info > div dl {
    margin: 0 2rem 0 0;
  }
  #contents .contents_body .cont_info > dl {
    min-width: 20rem;
  }
  #contents .contents_body .cont_info > div strong {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  #header .head_nav .head_addon .head_nav_log {
    display: none;
  }
  #footer .site_copy {
    margin: 0;
  }
  #footer .inner {
    display: flex;
    flex-flow: column;
  }
  #footer .inner .foot_site {
    margin: 0 0 2rem 0;
  }
  #footer .inner .foot_site > li {
    width: 100%;
  }
  #footer .inner .foot_cont .foot_cont_info {
    width: 100%;
    max-width: 100%;
    padding-left: 1.5rem;
  }
  #footer .inner .foot_cont .foot_cont_link {
    width: 100%;
    margin-top: 3rem;
    max-width: 100%;
  }
  #footer .inner .foot_cont .foot_cont_link li a {
    padding: 0 1.5rem;
    width: 100%;
    max-width: 100%;
  }
  #contents .contents_body .cont_info {
    flex-flow: column;
    align-items: flex-start;
    max-width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gnb-nav-ani {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}
@keyframes head-bg-ani {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: #fff;
  }
}